style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(85, 144, 189);
    background: linear-gradient(
      90deg,
      rgb(75, 78, 80) 0%,
      rgb(40, 44, 47) 54%,
      rgba(182, 216, 242, 1) 82%);
}

.titte{
    text-align: center;
    font-weight: 800;

}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 100px auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.container .comidas {
    text-align: center;
}

.container .comidas .titulo {
    font-size: 16px;
    font-weight: 600;
}

.container .comidas .imagen {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px
}